$column-gap: 0.75rem !default;

.columns{
  display: flex;
}

.column {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;

  &.is-one-quarter {
    width: 25%;
  }

  &.is-one-half {
    width: 50%;
  }

  &.is-three-quarters {
    width: 75%;
  }
}
